// main: ../main.scss
// -------------------------------------------------
// Description: This file contains everything to do
//              with the content.
// -------------------------------------------------
@import 'variables';
@import 'mixins';

// -- Headings -- //
h1 {}

// -- Main -- //

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url('../img/space-background-8.jpg');
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;

  body {
    margin: 0;

    main {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100vh;

      .bold {
        font-weight: bold;
      }
    }
  }
}

// -- Simulation -- //

.orbitSimulationContainer {
  width: 100%;
  height: 80%;
  position: relative;
  border-radius: 25px;

  .earth {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: green;
    border-radius: 50%;
    background-image: url("../img/earth-texture.jpg");
    background-size: 90px;
    box-shadow: 0 0 30px -8px white;
  }

  .sun {
    background-image: url("../img/sun-texture.jpg");
    border-radius: 50%;
    box-shadow: 0 0 30px 15px #fbe602, 0 0 50px 30px #e70f14, 0 0 70px 45px #fabc14;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-size: 260px;
    background-position: center;
  }

  @keyframes earthSpin {
    0% {
      background-position-x: 0;
    } 100% {
      background-position-x: 90px;
    }
  }

  @keyframes sunSpin {
    0% {
      background-position-x: 0;
    } 100% {
      background-position-x: 260px;
    }
  }

/*  .sun {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    background-color: orange;
    border-radius: 50%;
  }*/
}

// -- UI -- //
.orbitSimulationUserInput {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px white solid;
  width: 450px;
  min-width: 450px;
  height: 80%;
  margin-right: 150px;
  margin-left: auto;
  border-radius: 25px;
  padding: 20px 15px;

  h1 {
    text-align: center;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    text-transform: capitalize;
    line-height: 32px;
  }

  h2 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  .speedSetting {
    .slideBar {
      width: 250px;
      height: 20px;
      margin: 15px auto;
      position: relative;
      cursor: e-resize;
    }

    .slideBar:before {
      content: "";
      display: block;
      position: absolute;
      top: 9px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: white;
    }

    .slideBar span {
      display: block;
      height: inherit;
      position: relative;
      z-index: 2;
      background-color: white;
      border: 1px solid black;
      cursor: inherit;
    }

    .sliderValue {
      margin: 0 5px;
    }

    .choiceButtons {
      text-align: center;

      label, input {
        display: inline-block;
      }

      input[type="radio"] {
        display: none;
      }

      input[type="radio"]:checked + label {
        background-color: white;
        color: black;
      }

      label {
        background-color: black;
        color: white;
        border: solid white 2px;
        font-weight: bold;
        padding: 6px 0;
        width: 130px;
        margin: 10px;
        cursor: pointer;
        transition: background-color 1s;
      }

      label:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
